# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# KinD Setup.
/integration-test-cluster/istio-1.20.3/

# Golang backend.
/goserver/*.out

# Python backend.
/pyserver/.mypy_cache/
/pyserver/.coverage
/pyserver/coverage.xml

# Misc.
private/
**/delme*
integration-test-cluster/istio-1.23.2/
pyserver/client_secret.json
