[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
faker = "*"
tenacity = "*"
h2 = "*"
respx = "*"
httpx = "*"
pyyaml = "*"
kubernetes-square = "*"
hypercorn = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
google-cloud-storage = "*"
google-cloud-spanner = "*"
google-cloud-secret-manager = "*"
google-cloud-pubsub = "*"

[dev-packages]
isort = "*"
mypy = "*"
pycodestyle = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-dotenv = "*"
respx = "*"
types-pyyaml = "*"
sh = "*"
freezegun = "*"
click = "*"
tqdm = "*"

[requires]
python_version = "3.12"
